<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="ture" scanPeriod="30 seconds">
    <property name="LOGS_PATH" value="./logs"/>
    <springProperty name="SLACK_WEBHOOK_URI" source="logging.slack.webhook"/>

    <appender name="SLACK" class="com.github.maricn.logback.SlackAppender">
        <webhookUri>${SLACK_WEBHOOK_URI}</webhookUri>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}][%M.%L][%-5level] : %msg%n</pattern>
        </layout>
        <username>godok-log</username>
        <iconEmoji>:stuck_out_tongue_winking_eye:</iconEmoji>
        <colorCoding>true</colorCoding>
    </appender>

    <!--     properties 파일 지정-->
    <property resource="application.properties"/>
    <property name="LOGSTASH_URL" value="${logstash.url}"/>

    <!-- Logstash -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH_URL}</destination>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}]%level: %msg%n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="SLACK"/>
    </root>
    <logger name="OrderLog" level="info" additivity="false">
        <appender-ref ref="SLACK"/>
        <appender-ref ref="LOGSTASH"/>
    </logger>
</configuration>